.a1 {
    display: flex;
    padding: 10pxpx 0px ;
}
.a1 p {
    padding: 0px 60px;
}
.a1 h1 {
    padding: 0px 60px;
}
.a1 button {
    color: aliceblue;
    background-color: green;
    border-radius: 15px;
    height: 60px;
    width: 150px;
}
.a2 {
    display: flex;
    padding: 0px 60px;
}
.a2 p {
    padding: 0px 22px;
}
.a3 {
    display: flex;
    margin: auto;

    align-items:center;
    background-color: green;
    justify-content: space-between;
}
.text {
    padding: 60px;
}

.text h1  {
    width: 40%;
    color: aliceblue;
}
.text p {
    color: aliceblue;
}
.a3 button {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    color: green;
}
.a4 {
    display: flex;
    padding: 60px;
    align-items: center;
}
.a5 {
    display: flex;
    padding: 0px 60px;


}
.a5 button {
position: absolute;
width: 220px;
height: 48px;
left: 925px;
top: 1275px;
border-radius: 15px;
color: aliceblue;
background-color: green;



}
.a6 {
    display: flex;
    padding: 0px 60px;
    justify-content: space-between;
}
.a6 img {
    width: 90%;
    align-items: center;
}
h3 {
    padding: 0px 20px;
}
.sss {
    color: green;
    padding: 0px 20px;
}
.a7 {
    padding: 0px 60px;
    background-color: aliceblue;
    justify-content: space-between;
}
.a7-1 {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;

}
.a7-img2 {

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 70px;
height: 30px;
left: 1100px;
top: 1665px;


}
.a7 button {
    height: 50px;
    width: 180px;
    color: aliceblue;
    background-color: green;
    border-radius: 15px;
}
.a8-item {
    display: flex;
    background-color: green;
    width: 40%;
    height: 69%;
    padding: 0px 80px;


}
.a8-box1 {
    color: aliceblue;
}
.a8 button {
    color: green;
    border-radius: 15px;
    height: 30px;
}
.a8 {
    background-color: beige;
    align-items: center;
    padding: 0px 60px;
}
.b {
    display: flex;
    height: 240px;
    width: 200px;
    padding: 20px 0px;


}
.b1 {
    display: flex;
    background-color: blueviolet;

position: absolute;
width: 240px;
height: 210px;
left: 680px;
top: 2197px;


}

.b2 {
    display: flex;
    background-color: rgb(241, 102, 64);
    position: absolute;
width: 240px;
height: 210px;
left: 930px;
top: 2197px;

}
.b3 {
    display: flex;
    background-color: gold;
    position: absolute;
width: 240px;
height: 210px;
left: 680px;
top: 2427px;

}
.b4{
    display: flex;
    background-color: aqua;
    position: absolute;
width: 240px;
height: 210px;
left: 930px;
top: 2427px;

}
.b img {
    width: 80px;
    height: 80px;
    padding: 80px 0px;
}
.b-box {
    color: aliceblue;
}
.a9 {
    padding: 0px 60px;
}
.a9-box {
    display: flex;

}
.a9-item {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    border-radius: 8px;
    background-color: #6495ed;
    width: 320px;
    height: 100px;
    color: aliceblue;




}
.a9-item img {
    width: 60px;
    height: 70px;
    border-radius: 50px;
    background-color: aliceblue;
}
.a9-box1 {
    display: flex;
    padding: 20px 0px;
}
.a9-box1 button {
    background-color: green;
    color: aliceblue;
    border-radius: 20px;
    width: 160px;
    height: 30px;
}
.a10 {
    display: flex;
}
.a10-box {
    color: aliceblue;
    background-color: black;
    padding: 0px 60px;
    height: 500px;
}
.a10-box button {
    background-color: green;
    width: 190px;
    height: 40px;
    border-radius: 20px;
}
.a10-item img {
    height: 500px;
    width: 880px;
}
.a11 {
    display: flex;
    background-color: green;
    color: aliceblue;
    padding: 50px 60px;
}
.a11-1 {
    padding: 0px 60px;
}
.a11-2 {
    padding: 0px 30px;
}
.a11-3 {
    padding: 0px 30px;

}
.a11-4 {
    padding: 0px 30px;
}
.a11-5 {
    padding: 0px 30px;
}

